html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
header {
    background-color: black;
    background-image: linear-gradient(180deg, black, rgb(167, 167, 167));
    color: white;
    font-size: 26px;
    height: 80px;
    text-align: center;
}
header ul {
    padding-top: 20px;
}
header ul li {
    display: inline;
}
header ul li a {
    color: white;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
header ul li a:hover {
    font-size: 125%;
    text-decoration: underline;
    color: lightgrey;
}
header ul li a:active {
    color: grey;
}