.left, .right {
    margin-top: 20px;
}
.left .project-img, .right .project-info {
    vertical-align: top;
    margin-right: 1%;
    margin-left: 10%;
}
.center-text{
    text-align: center;
    padding-bottom: 20px;
}
.project-img, .project-info {
    /* background: green; */
    display: inline-block;
    height: 235px;
}
.project-img {
    width: 25%;
}
.project-info {
    width: 50%;
}
.git-link {
    width: 48%;
    position: absolute;
    bottom: 0;
}
.git-link div {
    text-align: right;
    padding-bottom: 7px;
}

.center-project-info  {
    position: relative;
    width: 100%;
}