#nav .sidebar {
    background: lightgray;
    margin: 5px;
    height: 10%;
    width: 97%;
    display: table;
    border: 1px solid black;
}
#nav .sidebar div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#nav .sidebar p {
    font-size: 30px;
    display: inline-block;
}
#nav .sidebar div img {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.icon {
    display: none;
}
.icon {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.icon p {
    display: none;
}


@media only screen and (max-width: 1000px) {
    /* popup side bard */
    ul {
        background-color: darkgrey;
        padding-top: 20px;
    }
    #nav .sidebar {
        display: none;
    }
    .icon {
        display: block;
    }
    .icon:hover {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: lightgrey;
    }
    .icon:hover img {
        width: 16px;
        height: 16px;
        margin: 3px 3px;
        display: inline-block;
    }
    .icon:hover p {
        width: 70px;
        height: 20px;
        text-align: center;
        display: inline-block;
        position: absolute;
        margin-left: 10px;
        padding-top: 3px;
        font-size: 13px;
        border-radius: 50%;
        background-color: darkgrey;
    }
}